html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none
}

mark {
    background-color: transparent;
    color: inherit
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type="text"],input[type="email"],select,textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: #121212;
}

:root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --site-language-margin-left: 0;
    --site-language-margin-right: auto;
    --viewport-height: 100vh;
}

html {
    font-size: 18pt;
}

u {
    text-decoration: underline;
}

strong {
    color: inherit;
    font-weight: bolder;
}

em {
    font-style: italic;
}

code {
    background-color: rgba(144,144,144,0.25);
    border-radius: 0.25em;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    text-indent: 0;
}

mark {
    color: #DE76D3;
    /* background-color: rgba(144,144,144,0.25); */
}

spoiler-text {
    -webkit-text-stroke: 0;
    background-color: rgba(32,32,32,0.75);
    text-shadow: none;
    text-stroke: 0;
    color: transparent;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

spoiler-text.active {
    color: #FFFFFF;
    cursor: text;
}

s {
    text-decoration: line-through;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}

a[onclick]:not([href]) {
    cursor: pointer;
}

unloaded-script {
    display: none;
}

#wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 0 1rem 1rem 1rem;
}

#main {
    --alignment: var(--site-language-alignment);
    --flex-alignment: var(--site-language-flex-alignment);
    --indent-left: var(--site-language-indent-left);
    --indent-right: var(--site-language-indent-right);
    --margin-left: var(--site-language-margin-left);
    --margin-right: var(--site-language-margin-right);
    --border-radius-tl: 0;
    --border-radius-tr: 0;
    --border-radius-br: 0;
    --border-radius-bl: 0;
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
    background-color: transparent;
}

#main > .inner {
    --padding-horizontal: 0.75rem;
    --padding-vertical: 1.125rem;
    --spacing: 0.25rem;
    --width: 35rem;
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > * {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}

#main > .inner > :first-child {
    margin-top: 0 !important;
}

#main > .inner > :last-child {
    margin-bottom: 0 !important;
}

#main > .inner > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
    width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
    border-radius: 0 !important;
    max-width: 100vw;
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    right: auto;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > * {
    transition: none !important;
}

body.is-instant:after {
    display: none !important;
    transition: none !important;
}

h1, h2, h3, p {
    direction: var(--site-language-direction);
    position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
    display: block;
    position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {
    -webkit-text-fill-color: currentcolor;
}

#text07 {
    text-align: right;
    color: #DB72D0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 400;
}

#text07 a {
    text-decoration: underline;
}

#text07 a:hover {
    text-decoration: none;
}

#text07 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text03 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
}

#text03 a {
    text-decoration: underline;
}

#text03 a:hover {
    text-decoration: none;
}

#text03 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text04 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 400;
}

#text04 u {
    text-decoration-color: #E31ECF;
}

#text04 a {
    color: #D47DCB;
    text-decoration: underline;
}

#text04 a:hover {
    text-decoration: none;
}

#text04 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text05 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
}

#text05 a {
    text-decoration: underline;
}

#text05 a:hover {
    text-decoration: none;
}

#text05 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text12 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    line-height: 1;
    font-weight: 700;
}

#text12 a {
    text-decoration: underline;
}

#text12 a:hover {
    text-decoration: none;
}

#text12 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text06 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 400;
}

#text06 u {
    text-decoration-color: #E31ECF;
}

#text06 a {
    color: #D47DCB;
    text-decoration: underline;
}

#text06 a:hover {
    text-decoration: none;
}

#text06 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text08 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
}

#text08 a {
    text-decoration: underline;
}

#text08 a:hover {
    text-decoration: none;
}

#text08 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text09 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 400;
}

#text09 u {
    text-decoration-color: #E31ECF;
}

#text09 a {
    color: #D47DCB;
    text-decoration: underline;
}

#text09 a:hover {
    text-decoration: none;
}

#text09 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text01 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
}

#text01 a {
    text-decoration: underline;
}

#text01 a:hover {
    text-decoration: none;
}

#text01 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

#text02 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 400;
}

#text02 a {
    color: #D47DCB;
    text-decoration: underline;
}

#text02 a:hover {
    text-decoration: none;
}

#text02 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}

.icc-credits {
    display: block;
    opacity: 1 !important;
    position: relative;
    transition-delay: 0s !important;
}

.icc-credits span {
    border-radius: 24px;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1;
    position: relative;
    text-decoration: none;
    width: auto;
}

.icc-credits span a {
    display: inline-block;
    padding: 0.5em 0.375em;
    position: relative;
    text-decoration: none;
    transition: color 0.25s ease, transform 0.25s ease;
    z-index: 1;
}

.icc-credits span a:before {
    content: '( ';
    opacity: 1;
    transition: opacity 0.25s ease;
}

.icc-credits span a:after {
    content: ' )';
    opacity: 1;
    transition: opacity 0.25s ease;
}

.icc-credits span::after {
    background-image: linear-gradient(30deg, #A464A1 15%, #3B5DAD 85%);
    border-radius: inherit;
    box-shadow: 0 0.25em 1.25em 0 rgba(0,0,0,0.25);
    content: '';
    display: block;
    height: calc(100% + 2px);
    left: -1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1px;
    transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
    width: calc(100% + 2px);
}

.icc-credits span:hover {
    text-transform: none !important;
}

.icc-credits span:hover a {
    color: #ffffff !important;
    transform: scale(1.1) translateY(-0.05rem);
}

.icc-credits span:hover a:before {
    opacity: 0;
}

.icc-credits span:hover a:after {
    opacity: 0;
}

.icc-credits span:hover::after {
    opacity: 1;
    transform: scale(1.1) translateY(-0.05rem);
}

#credits span {
    color: rgba(255,255,255,0.498);
    margin-top: 0.25rem !important;
    text-transform: lowercase;
}

#main > .inner > .full:nth-last-child(2) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

@media (max-width: 1920px) {
}

@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}

@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }

    #main > .inner {
        --padding-horizontal: 0.75rem;
        --padding-vertical: 1.125rem;
        --spacing: 0.25rem;
    }

    #text07 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.75em;
        line-height: 1.5;
    }

    #text03 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1.25em;
        line-height: 1.5;
    }

    #text04 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.75em;
        line-height: 1.5;
    }

    #text05 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1.25em;
        line-height: 1.5;
    }

    #text06 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.75em;
        line-height: 1.5;
    }

    #text08 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1.25em;
        line-height: 1.5;
    }

    #text09 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.75em;
        line-height: 1.5;
    }

    #text01 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1.25em;
        line-height: 1.5;
    }

    #text02 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.75em;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    #main > .inner {
        --spacing: 0.21875rem;
    }
}

@media (max-width: 360px) {
    #main > .inner {
        --padding-horizontal: 0.5625rem;
        --padding-vertical: 0.84375rem;
        --spacing: 0.1875rem;
    }

    #text07 {
        font-size: 0.75em;
    }

    #text03 {
        font-size: 1.25em;
    }

    #text04 {
        font-size: 0.75em;
    }

    #text05 {
        font-size: 1.25em;
    }

    #text06 {
        font-size: 0.75em;
    }

    #text08 {
        font-size: 1.25em;
    }

    #text09 {
        font-size: 0.75em;
    }

    #text01 {
        font-size: 1.25em;
    }

    #text02 {
        font-size: 0.75em;
    }

    #text12 {
        font-size: 0.95em;
    }


}

.image {display: block;line-height: 0;max-width: 99%;position: relative;}.image .frame {-webkit-backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);display: inline-block;max-width: 100%;overflow: hidden;vertical-align: top;width: 100%;}.image .frame img {border-radius: 0 !important;max-width: 100%;vertical-align: top;width: inherit;}.image.full .frame {display: block;}.image.full:first-child .frame {border-top-left-radius: inherit;border-top-right-radius: inherit;}.image.full:last-child .frame {border-bottom-left-radius: inherit;border-bottom-right-radius: inherit;}
#image01 .frame {width: 49.25rem;transition: none;}#image01 .frame img {transition: none;}

p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {-webkit-text-fill-color: currentcolor;}
#text11 mark {color: #DE76D3;background-color: rgba(94,88,88,0.451);}

blockquote {
  background-color: #343434; 
  border-left: 5px solid #969696; 
  padding: 0.5em; 
  margin: 0 0em 3em; 
  font-style: italic;
  position: relative;
  color: #969696
}
blockquote p {
margin-left: 8px;
font-family: 'Poppins';
font-size: 0.75em;
line-height: 1.35
}

blockquote:before {
  content: "\201C"; 
  font-size: 2.4em; 
  position: absolute;
  top: -10px;
  left: -3px;
  color: #aaa; 
}
blockquote:after {
  content: "\201D"; 
  font-size: 2.4em; 
  position: absolute;
  bottom: -10px;
  right: 3px;
  color: #aaa; 
}

/* #text02 span.p{
    padding-bottom: 0px;
    margin-bottom: 0px;
} */

#gentext mark{
    background-color: #2b4cad60; 
    color: white;
    padding: 0 0.1em;
}

/* #gentext br{
    display: block;
    margin-bottom: 0.2px 0 0;
    line-height: 90%;
    content: "";
    text-align: top;
} */

.hidden-inline {
      display: none;
    }
    .clickable {
      color: #d1cece;
      cursor: pointer;
    }

#text23 {
    text-align: right;
    ;
}


/* side by side columns */
#container01 > .wrapper {
display: inline-block;
width: 100%;
background-color: transparent;
}
#container01 > .wrapper > .inner {
--gutters: 0.5rem;
--padding-horizontal: 0.125rem;
--padding-vertical: 0.125rem;
padding: var(--padding-vertical) var(--padding-horizontal);
}
#container01.default > .wrapper > .inner > * {
margin-bottom: var(--spacing);
margin-top: var(--spacing);
}
#container01.default > .wrapper > .inner > *:first-child {
margin-top: 0 !important;
}
#container01.default > .wrapper > .inner > *:last-child {
margin-bottom: 0 !important;
}
#container01.columns > .wrapper > .inner {
flex-wrap: wrap;
display: flex;
align-items: flex-start;
}
#container01.columns > .wrapper > .inner > * {
flex-grow: 0;
flex-shrink: 0;
max-width: 100%;
text-align: var(--alignment);
padding: 0 0 0 var(--gutters);
}
#container01.columns > .wrapper > .inner > * > * {
margin-bottom: var(--spacing);
margin-top: var(--spacing);
}
#container01.columns > .wrapper > .inner > * > *:first-child {
margin-top: 0 !important;
}
#container01.columns > .wrapper > .inner > * > *:last-child {
margin-bottom: 0 !important;
}
#container01.columns > .wrapper > .inner > *:first-child {
margin-left: calc(var(--gutters) * -1);
}
#container01.default > .wrapper > .inner > .full {
margin-left: calc(var(--padding-horizontal) * -1);
max-width: none !important;
width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}
#container01.default > .wrapper > .inner > .full:first-child {
margin-top: calc(var(--padding-vertical) * -1) !important;
border-top-left-radius: inherit;
border-top-right-radius: inherit;
}
#container01.default > .wrapper > .inner > .full:last-child {
margin-bottom: calc(var(--padding-vertical) * -1) !important;
border-bottom-left-radius: inherit;
border-bottom-right-radius: inherit;
}
#container01.columns > .wrapper > .inner > div > .full {
margin-left: calc(var(--gutters) * -0.5);
max-width: none !important;
width: calc(100% + var(--gutters) + 0.4725px);
}
#container01.columns > .wrapper > .inner > div:first-child > .full {
margin-left: calc(var(--padding-horizontal) * -1);
width: calc(
100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
);
}
#container01.columns > .wrapper > .inner > div:last-child > .full {
width: calc(
100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
);
}
#container01.columns > .wrapper > .inner > div > .full:first-child {
margin-top: calc(var(--padding-vertical) * -1) !important;
}
#container01.columns > .wrapper > .inner > div > .full:last-child {
margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
#container01.columns > .wrapper > .inner > div:first-child,
#container01.columns
> .wrapper
> .inner
> div:first-child
> .full:first-child {
border-top-left-radius: inherit;
}
#container01.columns > .wrapper > .inner > div:last-child,
#container01.columns
> .wrapper
> .inner
> div:last-child
> .full:first-child {
border-top-right-radius: inherit;
}
#container01.columns > .wrapper > .inner > .full {
align-self: stretch;
}
#container01.columns > .wrapper > .inner > .full:first-child {
border-bottom-left-radius: inherit;
border-top-left-radius: inherit;
}
#container01.columns > .wrapper > .inner > .full:last-child {
border-bottom-right-radius: inherit;
border-top-right-radius: inherit;
}
#container01.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child {
border-radius: inherit;
height: calc(100% + (var(--padding-vertical) * 2));
}
#container01.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child
> * {
border-radius: inherit;
height: 100%;
position: absolute;
width: 100%;
}
#container01 > .wrapper > .inner > :nth-child(1) {
width: calc(50% + (var(--gutters) / 2));
}
#container01 > .wrapper > .inner > :nth-child(2) {
width: calc(50% + (var(--gutters) / 2));
}

#container01 > .wrapper > .inner {
--gutters: 0.375rem;
--padding-horizontal: 0rem;
--padding-vertical: 0rem;
}

            #image04 .frame {
                width: 35.375rem;
                height: 4.625rem;
                transition: none;
            }

            #image04 img {
                height: 100% !important;
                object-fit: cover;
                object-position: center;
                width: 100% !important;
            }

            #image04 .frame img {
                transition: none;
            }

            #image05 .frame {
                width: 35.375rem;
                height: 4.625rem;
                transition: none;
            }

            #image05 img {
                height: 100% !important;
                object-fit: cover;
                object-position: center;
                width: 100% !important;
            }

            #image05 .frame img {
                transition: none;
            }

                #text13 {
                    letter-spacing: 0rem;
                    width: 100%;
                    font-size: 1em;
                    line-height: 1;
                }

                #text14 {
                    letter-spacing: 0rem;
                    width: 100%;
                    font-size: 0.75em;
                    line-height: 1.125;
                }
#text13 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 1em;
                line-height: 1;
                font-weight: 700;
            }

            #text13 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text13 a:hover {
                text-decoration: none;
            }

            #text13 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text14 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                line-height: 1.125;
                font-weight: 400;
            }

            #text14 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text14 a:hover {
                text-decoration: none;
            }

            #text14 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }
#container02 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border-color: #F07EFC;
                border-style: solid;
                border-width: 1px;
                border-radius: 0.25rem;
            }

            #container02 > .wrapper > .inner {
                --gutters: 0.375rem;
                --padding-horizontal: 0.125rem;
                --padding-vertical: 0.25rem;
                padding: var(--padding-vertical) var(--padding-horizontal);
                border-radius: calc(0.25rem - 1px);
            }

            #container02 > .wrapper {
                max-width: var(--width);
                width: 100%;
            }

            #container02.default > .wrapper > .inner > * {
                margin-bottom: var(--spacing);
                margin-top: var(--spacing);
            }

            #container02.default > .wrapper > .inner > *:first-child {
                margin-top: 0 !important;
            }

            #container02.default > .wrapper > .inner > *:last-child {
                margin-bottom: 0 !important;
            }

            #container02.columns > .wrapper > .inner {
                flex-wrap: wrap;
                display: flex;
                align-items: flex-start;
            }

            #container02.columns > .wrapper > .inner > * {
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 100%;
                text-align: var(--alignment);
                padding: 0 0 0 var(--gutters);
            }

            #container02.columns > .wrapper > .inner > * > * {
                margin-bottom: var(--spacing);
                margin-top: var(--spacing);
            }

            #container02.columns > .wrapper > .inner > * > *:first-child {
                margin-top: 0 !important;
            }

            #container02.columns > .wrapper > .inner > * > *:last-child {
                margin-bottom: 0 !important;
            }

            #container02.columns > .wrapper > .inner > *:first-child {
                margin-left: calc(var(--gutters) * -1);
            }

            #container02.default > .wrapper > .inner > .full {
                margin-left: calc(var(--padding-horizontal) * -1);
                max-width: none !important;
                width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
            }

            #container02.default > .wrapper > .inner > .full:first-child {
                margin-top: calc(var(--padding-vertical) * -1) !important;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            #container02.default > .wrapper > .inner > .full:last-child {
                margin-bottom: calc(var(--padding-vertical) * -1) !important;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }

            #container02.columns > .wrapper > .inner > div > .full {
                margin-left: calc(var(--gutters) * -0.5);
                max-width: none !important;
                width: calc(100% + var(--gutters) + 0.4725px);
            }

            #container02.columns > .wrapper > .inner > div:first-child > .full {
                margin-left: calc(var(--padding-horizontal) * -1);
                width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
            }

            #container02.columns > .wrapper > .inner > div:last-child > .full {
                width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
            }

            #container02.columns > .wrapper > .inner > div > .full:first-child {
                margin-top: calc(var(--padding-vertical) * -1) !important;
            }

            #container02.columns > .wrapper > .inner > div > .full:last-child {
                margin-bottom: calc(var(--padding-vertical) * -1) !important;
            }

            #container02.columns > .wrapper > .inner > div:first-child, #container02.columns > .wrapper > .inner > div:first-child > .full:first-child {
                border-top-left-radius: inherit;
            }

            #container02.columns > .wrapper > .inner > div:last-child, #container02.columns > .wrapper > .inner > div:last-child > .full:first-child {
                border-top-right-radius: inherit;
            }

            #container02.columns > .wrapper > .inner > .full {
                align-self: stretch;
            }

            #container02.columns > .wrapper > .inner > .full:first-child {
                border-bottom-left-radius: inherit;
                border-top-left-radius: inherit;
            }

            #container02.columns > .wrapper > .inner > .full:last-child {
                border-bottom-right-radius: inherit;
                border-top-right-radius: inherit;
            }

            #container02.columns > .wrapper > .inner > .full > .full:first-child:last-child {
                border-radius: inherit;
                height: calc(100% + (var(--padding-vertical) * 2));
            }

            #container02.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
                border-radius: inherit;
                height: 100%;
                position: absolute;
                width: 100%;
            }

            #container02 > .wrapper > .inner > :nth-child(1) {
                width: calc(30% + (var(--gutters) / 2));
            }

            #container02 > .wrapper > .inner > :nth-child(2) {
                width: calc(70% + (var(--gutters) / 2));
            }

                   #container03 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border-color: #F07EFC;
                border-style: solid;
                border-width: 1px;
                border-radius: 0.25rem;
            }

            #container03 > .wrapper > .inner {
                --gutters: 0.375rem;
                --padding-horizontal: 0.125rem;
                --padding-vertical: 0.25rem;
                padding: var(--padding-vertical) var(--padding-horizontal);
                border-radius: calc(0.25rem - 1px);
            }

            #container03 > .wrapper {
                max-width: var(--width);
                width: 100%;
            }

            #container03.default > .wrapper > .inner > * {
                margin-bottom: var(--spacing);
                margin-top: var(--spacing);
            }

            #container03.default > .wrapper > .inner > *:first-child {
                margin-top: 0 !important;
            }

            #container03.default > .wrapper > .inner > *:last-child {
                margin-bottom: 0 !important;
            }

            #container03.columns > .wrapper > .inner {
                flex-wrap: wrap;
                display: flex;
                align-items: flex-start;
            }

            #container03.columns > .wrapper > .inner > * {
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 100%;
                text-align: var(--alignment);
                padding: 0 0 0 var(--gutters);
            }

            #container03.columns > .wrapper > .inner > * > * {
                margin-bottom: var(--spacing);
                margin-top: var(--spacing);
            }

            #container03.columns > .wrapper > .inner > * > *:first-child {
                margin-top: 0 !important;
            }

            #container03.columns > .wrapper > .inner > * > *:last-child {
                margin-bottom: 0 !important;
            }

            #container03.columns > .wrapper > .inner > *:first-child {
                margin-left: calc(var(--gutters) * -1);
            }

            #container03.default > .wrapper > .inner > .full {
                margin-left: calc(var(--padding-horizontal) * -1);
                max-width: none !important;
                width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
            }

            #container03.default > .wrapper > .inner > .full:first-child {
                margin-top: calc(var(--padding-vertical) * -1) !important;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            #container03.default > .wrapper > .inner > .full:last-child {
                margin-bottom: calc(var(--padding-vertical) * -1) !important;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }

            #container03.columns > .wrapper > .inner > div > .full {
                margin-left: calc(var(--gutters) * -0.5);
                max-width: none !important;
                width: calc(100% + var(--gutters) + 0.4725px);
            }

            #container03.columns > .wrapper > .inner > div:first-child > .full {
                margin-left: calc(var(--padding-horizontal) * -1);
                width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
            }

            #container03.columns > .wrapper > .inner > div:last-child > .full {
                width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
            }

            #container03.columns > .wrapper > .inner > div > .full:first-child {
                margin-top: calc(var(--padding-vertical) * -1) !important;
            }

            #container03.columns > .wrapper > .inner > div > .full:last-child {
                margin-bottom: calc(var(--padding-vertical) * -1) !important;
            }

            #container03.columns > .wrapper > .inner > div:first-child, #container03.columns > .wrapper > .inner > div:first-child > .full:first-child {
                border-top-left-radius: inherit;
            }

            #container03.columns > .wrapper > .inner > div:last-child, #container03.columns > .wrapper > .inner > div:last-child > .full:first-child {
                border-top-right-radius: inherit;
            }

            #container03.columns > .wrapper > .inner > .full {
                align-self: stretch;
            }

            #container03.columns > .wrapper > .inner > .full:first-child {
                border-bottom-left-radius: inherit;
                border-top-left-radius: inherit;
            }

            #container03.columns > .wrapper > .inner > .full:last-child {
                border-bottom-right-radius: inherit;
                border-top-right-radius: inherit;
            }

            #container03.columns > .wrapper > .inner > .full > .full:first-child:last-child {
                border-radius: inherit;
                height: calc(100% + (var(--padding-vertical) * 2));
            }

            #container03.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
                border-radius: inherit;
                height: 100%;
                position: absolute;
                width: 100%;
            }

            #container03 > .wrapper > .inner > :nth-child(1) {
                width: calc(30% + (var(--gutters) / 2));
            }

            #container03 > .wrapper > .inner > :nth-child(2) {
                width: calc(70% + (var(--gutters) / 2));
            }

                            #buttons03 {
                    gap: 0.375rem;
                }

                #buttons03 li a {
                    letter-spacing: 0rem;
                    font-size: 0.875em;
                }

                #buttons01 {
                    gap: 0.375rem;
                }

                #buttons01 li a {
                    letter-spacing: 0rem;
                    font-size: 0.875em;
                }

                #buttons04 {
                    gap: 0.25rem;
                }

                #buttons04:not(:first-child) {
                    margin-top: 0rem !important;
                }

                #buttons04:not(:last-child) {
                    margin-bottom: 0rem !important;
                }

                #buttons04 li a {
                    letter-spacing: 0rem;
                    font-size: 0.875em;
                }

                #buttons02 {
                    gap: 0.25rem;
                }

                #buttons02:not(:first-child) {
                    margin-top: 0rem !important;
                }

                #buttons02:not(:last-child) {
                    margin-bottom: 0rem !important;
                }

                #buttons02 li a {
                    letter-spacing: 0rem;
                    font-size: 0.875em;
                }

.buttons {
                cursor: default;
                display: flex;
                justify-content: var(--flex-alignment);
                letter-spacing: 0;
                padding: 0;
            }

            .buttons li {
                max-width: 100%;
                text-align: var(--alignment);
            }

            .buttons li a {
                align-items: center;
                justify-content: center;
                max-width: 100%;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                white-space: nowrap;
            }

            #buttons03 {
                gap: 0.375rem;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #buttons03 li a {
                display: inline-block;
                width: 100vw;
                height: 2rem;
                line-height: 2rem;
                padding: 0 1rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.875em;
                font-weight: 400;
                border-radius: 0.625rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons03 .button {
                background-color: #9C6E97;
                color: #FFFFFF;
            }

            #buttons03 .button:hover {
                background-color: #D47DCB !important;
            }

            #buttons01 {
                gap: 0.375rem;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #buttons01 li a {
                display: inline-block;
                width: 16.5rem;
                height: 2rem;
                line-height: 2rem;
                padding: 0 0.5rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.875em;
                font-weight: 400;
                border-radius: 0.625rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons01 .button {
                background-color: #9C6E97;
                color: #FFFFFF;
            }

            #buttons01 .button:hover {
                background-color: #D47DCB !important;
            }

            #buttons04 {
                gap: 0.25rem;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #buttons04:not(:first-child) {
                margin-top: 0rem !important;
            }

            #buttons04:not(:last-child) {
                margin-bottom: 0rem !important;
            }

            #buttons04 li a {
                display: inline-block;
                width: 11.375rem;
                height: 1.375rem;
                line-height: 1.375rem;
                padding: 0 0.34375rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.875em;
                font-weight: 400;
                border-radius: 0.375rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons04 .button {
                background-color: #9C6E97;
                color: #FFFFFF;
            }

            #buttons04 .button:hover {
                background-color: #D47DCB !important;
            }

            #buttons02 {
                gap: 0.25rem;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #buttons02:not(:first-child) {
                margin-top: 0rem !important;
            }

            #buttons02:not(:last-child) {
                margin-bottom: 0rem !important;
            }

            #buttons02 li a {
                display: inline-block;
                width: 11.375rem;
                height: 1.375rem;
                line-height: 1.375rem;
                padding: 0 0.34375rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.875em;
                font-weight: 400;
                border-radius: 0.375rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons02 .button {
                background-color: #9C6E97;
                color: #FFFFFF;
            }

            #buttons02 .button:hover {
                background-color: #D47DCB !important;
            }

#text15 {
                    font-size: 1em;
                }

                #text16 {
                    font-size: 0.75em;
                }

#text15 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 1em;
                line-height: 1;
                font-weight: 700;
            }

            #text15 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text15 a:hover {
                text-decoration: none;
            }

            #text15 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text16 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                line-height: 1.125;
                font-weight: 400;
            }

            #text16 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text16 a:hover {
                text-decoration: none;
            }

            #text16 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

               #buttons04 {
                gap: 0.25rem;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #buttons04:not(:first-child) {
                margin-top: 0rem !important;
            }

            #buttons04:not(:last-child) {
                margin-bottom: 0rem !important;
            }

            #buttons04 li a {
                display: inline-block;
                width: 11.375rem;
                height: 1.375rem;
                line-height: 1.375rem;
                padding: 0 0.34375rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.875em;
                font-weight: 400;
                border-radius: 0.375rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons04 .button {
                background-color: #9C6E97;
                color: #FFFFFF;
            }

            #buttons04 .button:hover {
                background-color: #D47DCB !important;
            }

            #buttons04 {
                gap: 0.25rem;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #buttons04:not(:first-child) {
                margin-top: 0rem !important;
            }

            #buttons04:not(:last-child) {
                margin-bottom: 0rem !important;
            }

            #buttons04 li a {
                display: inline-block;
                width: 11.375rem;
                height: 1.375rem;
                line-height: 1.375rem;
                padding: 0 0.34375rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.875em;
                font-weight: 400;
                border-radius: 0.375rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons04 .button {
                background-color: #9C6E97;
                color: #FFFFFF;
            }

            #buttons04 .button:hover {
                background-color: #D47DCB !important;
            }

.buttons li {
    max-width: 48%;
    text-align: var(--alignment);
}

table {
                border-collapse: collapse;
                border-spacing: 0; }

.table-wrapper {
max-width: 100%;
-webkit-overflow-scrolling: touch;
overflow-x: auto;
overflow-y: hidden;
}
.table-inner {
display: inline-block;
max-width: 100%;
}
table {
direction: var(--site-language-direction);
text-align: var(--site-language-alignment);
width: 100%;
}
th {
text-align: var(--site-language-alignment);
}
#table01 .table-inner {
width: 34rem;
}
#table01 th {
color: #b89eb5;
font-family: "Poppins", sans-serif;
font-size: 0.75em;
line-height: 1.125;
font-weight: 700;
}
#table01 th a {
color: #d47dcb;
text-decoration: underline;
}
#table01 th a:hover {
color: rgba(189, 153, 153, 0.588);
}
#table01 td {
color: #ffffff;
font-family: "Poppins", sans-serif;
font-size: 0.75em;
line-height: 1.125;
font-weight: 400;
}
#table01 td mark {
color: #de76d3;
background-color: rgba(94, 88, 88, 0.451);
}
#table01 td a {
color: #d47dcb;
text-decoration: underline;
}
#table01 td a:hover {
color: rgba(189, 153, 153, 0.588);
}
#table01 thead {
background-color: rgba(222, 180, 217, 0.184);
}
#table01 th,
#table01 td {
border: solid 1px #deb4d9;
padding: 0.25rem 0.34375rem;
}




#container05 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border-color: #DEB4D9;
                border-style: solid;
                border-width: 1px;
                border-radius: 0.25rem;
            }

            #container05 > .wrapper > .inner {
                --gutters: 0.2rem;
                --padding-horizontal: 0.375rem;
                --padding-vertical: 0.25rem;
                padding: var(--padding-vertical) var(--padding-horizontal);
                border-radius: calc(0.25rem - 1px);
            }

            #container05 > .wrapper {
                max-width: var(--width);
                width: 100%;
            }

            #container05.default > .wrapper > .inner > * {
                margin-bottom: var(--spacing);
                margin-top: var(--spacing);
            }

            #container05.default > .wrapper > .inner > *:first-child {
                margin-top: 0 !important;
            }

            #container05.default > .wrapper > .inner > *:last-child {
                margin-bottom: 0 !important;
            }

            #container05.columns > .wrapper > .inner {
                flex-wrap: wrap;
                display: flex;
                align-items: flex-start;
            }

            #container05.columns > .wrapper > .inner > * {
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 100%;
                text-align: var(--alignment);
                padding: 0 0 0 var(--gutters);
            }

            #container05.columns > .wrapper > .inner > * > * {
                margin-bottom: var(--spacing);
                margin-top: var(--spacing);
            }

            #container05.columns > .wrapper > .inner > * > *:first-child {
                margin-top: 0 !important;
            }

            #container05.columns > .wrapper > .inner > * > *:last-child {
                margin-bottom: 0 !important;
            }

            #container05.columns > .wrapper > .inner > *:first-child {
                margin-left: calc(var(--gutters) * -1);
            }

            #container05.columns > .wrapper > .inner > *:before {
                /* border-left: solid 1px #DEB4D9;
                content: '';
                display: block;
                margin-left: calc((var(--gutters) * -0.5) - 0.5px);
                position: absolute;
                width: 0;
                height: 100%;
                top: 0; */
            }

            #container05.columns > .wrapper > .inner > *:first-child:before {
                display: none;
            }

            #container05.default > .wrapper > .inner > .full {
                margin-left: calc(var(--padding-horizontal) * -1);
                max-width: none !important;
                width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
            }

            #container05.default > .wrapper > .inner > .full:first-child {
                margin-top: calc(var(--padding-vertical) * -1) !important;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            #container05.default > .wrapper > .inner > .full:last-child {
                margin-bottom: calc(var(--padding-vertical) * -1) !important;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }

            #container05.columns > .wrapper > .inner > div > .full {
                margin-left: calc((var(--gutters) * -0.5) + 0.5px);
                max-width: none !important;
                width: calc(100% + var(--gutters) + 0.4725px - 1px);
            }

            #container05.columns > .wrapper > .inner > div:first-child > .full {
                margin-left: calc(var(--padding-horizontal) * -1);
                width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px - 0.5px);
            }

            #container05.columns > .wrapper > .inner > div:last-child > .full {
                width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px - 0.5px);
            }

            #container05.columns > .wrapper > .inner > div > .full:first-child {
                margin-top: calc(var(--padding-vertical) * -1) !important;
            }

            #container05.columns > .wrapper > .inner > div > .full:last-child {
                margin-bottom: calc(var(--padding-vertical) * -1) !important;
            }

            #container05.columns > .wrapper > .inner > div:first-child, #container05.columns > .wrapper > .inner > div:first-child > .full:first-child {
                border-top-left-radius: inherit;
            }

            #container05.columns > .wrapper > .inner > div:last-child, #container05.columns > .wrapper > .inner > div:last-child > .full:first-child {
                border-top-right-radius: inherit;
            }

            #container05.columns > .wrapper > .inner > .full {
                align-self: stretch;
            }

            #container05.columns > .wrapper > .inner > .full:first-child {
                border-bottom-left-radius: inherit;
                border-top-left-radius: inherit;
            }

            #container05.columns > .wrapper > .inner > .full:last-child {
                border-bottom-right-radius: inherit;
                border-top-right-radius: inherit;
            }

            #container05.columns > .wrapper > .inner > .full > .full:first-child:last-child {
                border-radius: inherit;
                height: calc(100% + (var(--padding-vertical) * 2));
            }

            #container05.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
                border-radius: inherit;
                height: 100%;
                position: absolute;
                width: 100%;
            }

            #container05 > .wrapper > .inner > :nth-child(1) {
                width: calc(65% + (var(--gutters) / 2));
            }

            #container05 > .wrapper > .inner > :nth-child(2) {
                width: calc(35% + (var(--gutters) / 2));
            }

             #container05:not(:last-child) {
                    margin-bottom: 0.75rem !important;
                }

                #container05 > .wrapper > .inner {
                    --gutters: 1rem;
                    --padding-horizontal: 0.375rem;
                    --padding-vertical: 0.25rem;
                }

                        #text15 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 1em;
                line-height: 1;
                font-weight: 700;
            }

            #text15 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text15 a:hover {
                text-decoration: none;
            }

            #text15 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text25 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 0.625em;
                line-height: 0.875;
                font-weight: 400;
            }

            #text25 mark {
                background-color: #962A2A;
                color: #FFFFFF
            }

            #text25 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text25 a:hover {
                text-decoration: none;
            }

            #text25 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text26 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                line-height: 0.875;
                font-weight: 400;
            }

            #text26 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text26 a:hover {
                text-decoration: none;
            }

            #text26 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text26 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                line-height: 0.875;
                font-weight: 400;
            }

            #text26 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text26 a:hover {
                text-decoration: none;
            }

            #text26 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text05 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 1em;
                line-height: 1;
                font-weight: 700;
            }

            #text05 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text05 a:hover {
                text-decoration: none;
            }

            #text05 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text06 {
                color: #DBD5D5;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                line-height: 1;
                font-weight: 400;
            }

            #text06 u {
                text-decoration-color: #FFFFFF;
            }

            #text06 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text06 a:hover {
                text-decoration: none;
            }

            #text06 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #text20 {
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-size: 0.625em;
                line-height: 0.875;
                font-weight: 400;
            }

            #text20 mark {
                background-color: #962A2A;
            }

            #text20 a {
                color: #D47DCB;
                text-decoration: underline;
            }

            #text20 a:hover {
                text-decoration: none;
            }

            #text20 span.p:nth-child(n + 2) {
                margin-top: 1rem;
            }

            #image05 .frame {
                width: 100vw;
                height: 5.625rem;
                transition: none;
            }

            #image05 img {
                height: 100% !important;
                object-fit: cover;
                object-position: center;
                width: 100% !important;
            }

            #image05 .frame img {
                transition: none;
            }

        #image06 .frame {
                width: 100vw;
                height: 6.5rem;
                transition: none;
            }

            #image06 img {
                height: 100% !important;
                object-fit: cover;
                object-position: center;
                width: 100% !important;
            }

            #image06 .frame img {
                transition: none;
            }


    #buttons04 li a {
                display: inline-block;
                width: 9.75rem;
                height: 1.25rem;
                line-height: 1.25rem;
                padding: 0 0.3125rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                font-weight: 400;
                border-radius: 0.375rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons04 .button {
                background-color: #5E465C;
                color: #FFE6FC;
            }

            #buttons04 .button:hover {
                background-color: #82427B !important;
            }

    #buttons07 li a {
                display: inline-block;
                width: 12.5rem;
                height: 1.25rem;
                line-height: 1.25rem;
                padding: 0 0.3125rem;
                vertical-align: middle;
                font-family: 'Poppins', sans-serif;
                font-size: 0.75em;
                font-weight: 400;
                border-radius: 0.375rem;
                direction: var(--site-language-direction);
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
            }

            #buttons07 .button {
                background-color: #5E465C;
                color: #FFE6FC;
            }

            #buttons07 .button:hover {
                background-color: #82427B !important;
            }